# بررسی آلودگی هوای آمریکا

در این تمرین می‌خواهیم با داده‌های آلودگی هوای آمریکا در سال ۲۰۱۸ که پیش‌تر در درس‌نامه قبلی با آن کار کردیم، بیشتر کار کنیم و سوالاتی را از آن جواب دهیم.

ابتدا داده را از فایل csv بخوانید و در متغیر aqi_data بریزید.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('AQI2018.csv', sep=",")
data.head(5)

  State Name county Name        Date  AQI Category Defining Parameter
0    Alabama     Baldwin  2018-01-02   32     Good              PM2.5
1    Alabama     Baldwin  2018-01-05   34     Good              PM2.5
2    Alabama     Baldwin  2018-01-08   15     Good              PM2.5
3    Alabama     Baldwin  2018-01-11   19     Good              PM2.5
4    Alabama     Baldwin  2018-01-14   25     Good              PM2.5

در ابتدا می‌خواهیم ببینیم در چه تاریخی میانگین آلودگی هوای آمریکا بیشترین مقدار بوده است. ده تاریخی را که بیشترین میانگین آلودگی هوا را در این سال داشته‌اند، به ترتیب میزان آلودگی، در فایلی به نام dates.csv ذخیره کنید.


توجه کنید که این فایل دو ستون و ده سطر باید داشته باشد که ستون اول تاریخ‌هایی که بیشترین آلودگی هوا را دارند(به ترتیب) باشند و در ستون دوم میانگین آلودگی هوا در آن روز برای تاریخ مربوطه قرار بگیرد.

In [3]:
dates = data.groupby(['Date']).AQI.mean().to_frame(name = 'Avg')
dates.head(10)

                  Avg
Date
2018-01-01  38.429612
2018-01-02  38.207010
2018-01-03  40.975699
2018-01-04  38.002427
2018-01-05  37.421225
2018-01-06  37.507841
2018-01-07  38.630303
2018-01-08  38.323210
2018-01-09  37.114873
2018-01-10  34.187120

In [4]:
dates.sort_values('Avg', ascending=False).head(10).to_csv('dates.csv', header=False)

در ادامه می‌خواهیم بدانیم ده ایالتی که بیشترین میزان «میانه» آلودگی را در سال ۲۰۱۸ داشته‌اند، کدام ایالت‌ها هستند. 

مانند قسمت قبل، نام ایالت‌ها را به همراه میانه شاخص آلودگی هوای آن ایالت در فایلی به نام states.csv ذخیره کنید. این فایل نیز باید دو ستون و ده سطر داشته باشد.

In [5]:
states = data.groupby(['State Name']).AQI.median().to_frame(name = 'Med')
states.head(10)

                       Med
State Name
Alabama               37.0
Alaska                25.0
Arizona               44.0
Arkansas              37.0
California            47.0
Colorado              44.0
Connecticut           37.5
Country Of Mexico     42.0
Delaware              40.0
District Of Columbia  44.0

In [6]:
states.sort_values('Med', ascending=False).head(10).to_csv('states.csv', header=False)

می‌خواهیم بدانیم در منطقه San Diego بیشترین آلاینده‌ها در این سال چه آلاینده‌هایی بوده‌اند.

در فایلی به نام parameters.csv که دو ستون دارد و ستون اول نام آلاینده‌ها و ستون دوم تعداد روزهایی است که آلاینده مذکور در ستون اول، الاینده اصلی بوده، داده‌ها را ذخیره کنید.

In [7]:
params = data[data['county Name'] == 'San Diego'].groupby('Defining Parameter').size().to_frame(name='Cnt').sort_values('Cnt')